<% content_for :body_content_upper do %>
	<%= render :partial => "home_upper" %>

	<%= render :partial => 'shared/content_testimonial',
				:locals => { :testimonials => testimonials_array } %>
				
<% end %>

<% content_for :body_content do %>
	<%= javascript_include_tag 'home'%>

	<div id="content_lower" class="container">
		<div class="content span-24 last">	
			<h2>Featured Web Development Projects</h2>
	    <div id='slider' class="nivoSlider">
				<% Project.all.each do |project| %>
					<% next unless project.show_slide %>
	  			<a title="ruby on rails web development and web design singapore" href="/portfolio#<%= project.friendly_id %>">
						<img alt="ruby on rails web development and web design singapore" src="<%= project.icon.url %>"  title="<%= project.short_description %>">
					</a>
				<% end %>
			</div>
    
		</div>
	</div>
<% end %>

<%= render :partial => "/shared/content_page" %>
