<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><%=title%></title>
	<link rel="shortcut icon" href="/images/favicon.ico" />
	<meta name="ROBOTS" content="ALL" />	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<meta name="description" content="Web design & development company (Ruby on Rails), Iphone, Facebook & Twitter Apps Development Services, Singapore" />
	
	<meta name="keywords" content="Anideo Singapore, Eduardo Saverin, Vinova, Ruby On Rails, web design company, web development company, web designer, Ruby On Rails programmer, mobile applications developer, iPhone application, facebook app, twitter app, facebook developer, twitter developer, web developer, cloud computing services, hosting services, Singapore programmer">

	<%= stylesheet_link_tag 'blueprint/screen', 'vinova', "nivo-slider", :media => "screen, projection"%>

	<%= stylesheet_link_tag 'blueprint/print', :media => "print" %>	
		
	<%= javascript_include_tag 'jquery-1.4.2.min' , "jquery.nivo.slider.pack"%>
	
	<!--[if lt IE 8]>
		<%= stylesheet_link_tag 'blueprint/ie' %>
	<![endif]-->


</head>
